In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [20]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
print(data[data.runtime == data.runtime.min()].original_title, data[data.runtime == data.runtime.min()].imdb_id)
data[data.runtime == data.runtime.min()]
data.runtime.min()

768    Winnie the Pooh
Name: original_title, dtype: object 768    tt1449283
Name: imdb_id, dtype: object

63

In [0]:
data.describe()

# Предобработка

In [140]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# calcilate profit and create a new dataframe with profit added:
data_profit = data
data_profit['profit'] = data.revenue - data.budget

#function for getting all unique names from an array, where names can be split by |
#will be frequently used in tasks 11-17 to get the list of all genres, actors, etc
def get_all_subtypes(all_list):
    all_subtypes = []
    for s in all_list:
        curr_str = s.split('|')
        for subtype in curr_str:
            if subtype not in all_subtypes:
                all_subtypes.append(subtype)
    return all_subtypes

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [264]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:
print(data[data.budget == data.budget.max()].original_title, data[data.budget == data.budget.max()].imdb_id)

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [265]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157.    Gods and Generals (tt0279111)'

In [0]:
# код
print(data[data.runtime == data.runtime.max()].original_title, data[data.runtime == data.runtime.max()].imdb_id)

# 3. Какой из фильмов самый короткий (в минутах)?

In [266]:
answers['3'] = '768.    Winnie the Pooh (tt1449283)'
print(data[data.runtime == data.runtime.min()].original_title, data[data.runtime == data.runtime.min()].imdb_id)

768    Winnie the Pooh
Name: original_title, dtype: object 768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [267]:
answers['4'] = '110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [268]:
answers['5'] = '107'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [269]:
answers['6'] = '239. Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале
data_profit[data_profit.profit == data_profit.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,name_len,overview_words_nb
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,6,28

# 7. Какой фильм самый убыточный?

In [270]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
# лучше код получения столбца profit вынести в Предобработку что в начале
data_profit[data_profit.profit == data_profit.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,name_len,overview_words_nb
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [272]:
answers['8'] = '1478'
# лучше код получения столбца profit вынести в Предобработку что в начале
data_profit[data_profit.profit > 0].count().imdb_id

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [273]:
answers['9'] = '599. The Dark Knigh (tt0468569)'
data[data.revenue == data[data.release_year == 2008].revenue.max()]
# alternatively, if asked about 'profit':
data_profit[data_profit.profit == data_profit[data_profit.release_year == 2008].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,name_len,overview_words_nb
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [274]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
data_profit[data_profit.profit == data_profit.query('release_year in [2012,2013,2014]').profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,name_len,overview_words_nb
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

# 11. Какого жанра фильмов больше всего?

In [141]:
answers['11'] = 'Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# get_all_subtypes(all_list) defined in the beginning of the notebook

all_genres = get_all_subtypes(data.genres.unique())
index_data = []
quantity_data = []
for gen in all_genres:
    index_data.append(gen)
    quantity_data.append(data[data.genres.str.contains(gen)].imdb_id.count())
quantity_genres = {'genres': index_data,
                   'quantity': quantity_data}
quantity_genres_df = pd.DataFrame(quantity_genres, columns = ['genres', 'quantity'])
quantity_genres_df.sort_values('quantity',ascending = False)

             genres  quantity
7             Drama       782
10           Comedy       683
3          Thriller       596
0            Action       582
1         Adventure       415
5             Crime       315
12          Romance       308
8            Family       260
2   Science Fiction       248
4           Fantasy       222
16           Horror       176
11          Mystery       168
9         Animation       139
15            Music        64
14          History        62
13              War        58
6           Western        19
17      Documentary         8
18          Foreign         2

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [160]:
answers['12'] = 'Drama'
profitable_count = []
for gen in all_genres:
    profitable_count.append(data_profit[(data_profit.genres.str.contains(gen))&(data_profit.profit>0)].imdb_id.count())
nb_profit_genres = {'genres': index_data,
                   'prof_quantity': profitable_count,
                   'total': quantity_data}
nb_profit_genres_df = pd.DataFrame(nb_profit_genres, columns = ['genres', 'prof_quantity', 'total'])
nb_profit_genres_df['profit_freq'] = nb_profit_genres_df.prof_quantity / nb_profit_genres_df.total
nb_profit_genres_df.sort_values('prof_quantity',ascending = False)

# when asked about profit frequency, that should give the right answer:
#nb_profit_genres_df.sort_values('profit_freq',ascending = False)

             genres  prof_quantity  total  profit_freq
7             Drama            560    782     0.716113
10           Comedy            551    683     0.806735
3          Thriller            446    596     0.748322
0            Action            444    582     0.762887
1         Adventure            337    415     0.812048
12          Romance            242    308     0.785714
5             Crime            231    315     0.733333
8            Family            226    260     0.869231
2   Science Fiction            195    248     0.786290
4           Fantasy            188    222     0.846847
16           Horror            150    176     0.852273
9         Animation            120    139     0.863309
11          Mystery            119    168     0.708333
15            Music             47     64     0.734375
14          History             46     62     0.741935
13              War             41     58     0.706897
6           Western             12     19     0.631579
17      Documentary              7      8     0.875000
18          Foreign              0      2     0.000000

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [151]:
answers['13'] = 'Peter Jackson'
data.groupby(by = 'director').sum().sort_values('revenue', ascending = False)

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916
...,...,...,...,...,...,...
David MichÃ´d,12250000,2295423,100,6.0,2014,-9954577
Steven Shainberg,16800000,2281089,122,6.3,2006,-14518911
Paul Schrader,7000000,2062066,104,5.9,2002,-4937934
Keanu Reeves,25000000,2054941,105,5.6,2013,-22945059
Simon Hunter,8000000,2033165,111,5.1,2008,-5966835

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [161]:
answers['14'] = 'Robert Rodriguez'
# unclear problem statement with ambiguous answer: Robert Rodriguez and Ridley Scott have the same number of Action movies
data[data.genres.str.contains("Action")].groupby(by = 'director').count().sort_values('imdb_id',ascending = False).head(7)

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
director,,,,,,,,,,,,,,
Paul W.S. Anderson,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Michael Bay,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Ridley Scott,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Antoine Fuqua,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Robert Rodriguez,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Zack Snyder,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Andrzej Bartkowiak,5,5,5,5,5,5,5,5,5,5,5,5,5,5

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [156]:
answers['15'] = 'Chris Hemsworth'
data2012 = data[data.release_year == 2012]
all_actors = get_all_subtypes(data.cast.unique())
revenue_act = []
for actor in all_actors:
    revenue_act.append(data2012[data2012.cast.str.contains(actor)].revenue.sum())
revenue_by_actor = {'actor': all_actors,
                   'revenue': revenue_act}
revenue_by_actor_df = pd.DataFrame(revenue_by_actor, columns = ['actor', 'revenue'])
revenue_by_actor_df.sort_values('revenue',ascending = False).head(10)
# another version:
#actors_list = {'Nicolas Cage', 'Tom Hardy', 'Chris Hemsworth', 'Jim Sturgess', 'Emma Stone'}
#for name in actors_list:
#    print(name, data[(data.release_year == 2012) & data.cast.str.contains(name)].sum().revenue)

                   actor     revenue
69       Chris Hemsworth  2027450773
2120         Denis Leary  1629460639
214        Anne Hathaway  1522851057
68     Robert Downey Jr.  1519557910
70          Mark Ruffalo  1519557910
72    Scarlett Johansson  1519557910
71           Chris Evans  1519557910
52         Ralph Fiennes  1409561013
1973   Sacha Baron Cohen  1368110577
924      Kristen Stewart  1234384318

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [157]:
answers['16'] = 'Matt Damon'
#alternative list for better performance:
#all_actors = {'Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler'}
nb_movies = []
for actor in all_actors:
    nb_movies.append(data[(data.budget > data.budget.mean())&(data.cast.str.contains(actor))].imdb_id.count())
movie_by_actor = {'actor': all_actors,
                   'nb_movies': nb_movies}
movie_by_actor_df = pd.DataFrame(movie_by_actor, columns = ['actor', 'nb_movies'])
movie_by_actor_df.sort_values('nb_movies',ascending = False).head(10)

                  actor  nb_movies
34           Matt Damon         18
63         Adam Sandler         17
596      Angelina Jolie         16
73    Samuel L. Jackson         15
121          Tom Cruise         15
1292       Eddie Murphy         15
126       Mark Wahlberg         14
581          Jamie Foxx         14
287        Hugh Jackman         14
462         Ben Stiller         14

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [159]:
answers['17'] = 'Action'
#alternative list for better performance:
#all_genres = {'Action','Adventure','Drama','Crime','Thriller'}

nb_by_genres = []
for gen in all_genres:
    nb_by_genres.append(data[data.cast.str.contains("Nicolas Cage")&data.genres.str.contains(gen)].imdb_id.count())

movieNC_by_genre = {'genre': all_genres,
                   'nb_by_genres': nb_by_genres}
movieNC_by_genre_df = pd.DataFrame(movieNC_by_genre, columns = ['genre', 'nb_by_genres'])
movieNC_by_genre_df.sort_values('nb_by_genres',ascending = False).head(10)

              genre  nb_by_genres
0            Action            17
3          Thriller            15
7             Drama            12
5             Crime            10
4           Fantasy             8
1         Adventure             7
10           Comedy             6
2   Science Fiction             4
11          Mystery             3
9         Animation             3

# 18. Самый убыточный фильм от Paramount Pictures

In [166]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
data_profit[data_profit.production_companies.str.contains('Paramount Pictures')].sort_values('profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [238]:
answers['19'] = '2015'
data.groupby(by = 'release_year').sum().sort_values("revenue", ascending = False).head()

,budget,revenue,runtime,vote_average,profit,name_len
release_year,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,1601
2014,7008050000,23405862953,13444,774.5,16397812953,1864
2013,7970620000,23213799791,15039,846.9,15243179791,1925
2012,7002000000,23079001687,12145,682.1,16077001687,1684
2011,7946550531,22676791872,15355,868.5,14730241341,2199

# 20. Какой самый прибыльный год для студии Warner Bros?

In [170]:
answers['20'] = '2014'
data_profit[data_profit.production_companies.str.contains('Warner Bros')].groupby('release_year').sum().sort_values('profit', ascending = False).head(3)

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519
2007          982000000  3183675217     1721          95.4  2201675217
2008          916000000  3050595031     1366          72.0  2134595031

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [201]:
answers['21'] = 'Сентябрь'
data['release_month'] = data.release_date.apply(lambda s:s.split('/')[0])
data.groupby(by = 'release_month').count().sort_values('imdb_id', ascending = False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
release_month,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [202]:
answers['22'] = '450'
data[(data.release_month == '6')|(data.release_month == '7')|(data.release_month == '8')].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
release_month           450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [204]:
answers['23'] = 'Peter Jackson'
data[(data.release_month == '1')|(data.release_month == '2')|(data.release_month == '12')].groupby(by = 'director').count().sort_values('imdb_id', ascending = False).head(3)

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
director,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [241]:
answers['24'] = 'Four By Two Productions'
all_prod_comp = get_all_subtypes(data.production_companies.unique())

average_len = []
data['name_len'] = data.original_title.apply(lambda x:len(x))
for company in all_prod_comp:   
    average_len.append(data[data.production_companies.str.contains(company)].name_len.mean())

length_by_company = {'prod_comp': all_prod_comp,                   
                     'avg_len': average_len}
length_by_company_df = pd.DataFrame(length_by_company, columns = ['prod_comp', 'avg_len'])
length_by_company_df.sort_values('avg_len',ascending = False).head(3)

C:\Users\Lena\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                    prod_comp  avg_len
1505  Four By Two Productions     83.0
389   Jim Henson Company, The     59.0
1211            Dos Corazones     47.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [277]:
answers['25'] = 'Midnight Picture Show'
average_len = []
data['overview_words_nb'] = data.overview.apply(lambda x:len(x.split()))
for company in all_prod_comp:      
    average_len.append(data[data.production_companies.str.contains(company)].overview_words_nb.mean())


words_nb_by_company = {'prod_comp': all_prod_comp,                   
                       'avg_len': average_len}
words_nb_by_company_df = pd.DataFrame(words_nb_by_company, columns = ['prod_comp', 'avg_len'])
words_nb_by_company_df.sort_values('avg_len',ascending = False).head(3)

C:\Users\Lena\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                  prod_comp  avg_len
950   Midnight Picture Show    175.0
1445   Room 9 Entertainment    161.0
1141     98 MPH Productions    159.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [254]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data[data.vote_average > data.vote_average.quantile(0.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

answers['27'] = 'Daniel Radcliffe & Rupert Grint'
names_arr = [['Johnny Depp', 'Helena Bonham Carter'], ['Ben Stiller','Owen Wilson'], ['Vin Diesel','Paul Walker'], ['Adam Sandler','Kevin James'], ['Daniel Radcliffe', 'Rupert Grint']]
for s in names_arr:
    print(s,data[data.cast.str.contains(s[0])&data.cast.str.contains(s[1])].count().imdb_id)

# Submission

In [278]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'11': 'Drama',
 '12': 'Drama',
 '15': 'Chris Hemsworth',
 '14': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157.    Gods and Generals (tt0279111)',
 '3': '768.    Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knigh (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '25': 'Midnight Picture Show'}

In [279]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [262]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
names_arr = [['Johnny Depp', 'Helena Bonham Carter'], ['Ben Stiller','Owen Wilson'], ['Vin Diesel','Paul Walker'], ['Adam Sandler','Kevin James'], ['Daniel Radcliffe', 'Rupert Grint']]
for s in names_arr:
    print(s,data[data.cast.str.contains(s[0])&data.cast.str.contains(s[1])].count().imdb_id)

['Johnny Depp', 'Helena Bonham Carter'] 6
['Ben Stiller', 'Owen Wilson'] 6
['Vin Diesel', 'Paul Walker'] 5
['Adam Sandler', 'Kevin James'] 5
['Daniel Radcliffe', 'Rupert Grint'] 8